# macOS system files

.DS_Store
Windows_and_Linux/config.json

.idea
**/__pycache__
**/*.mo
**/pot_files

# Xcode user-specific data
**/xcuserdata/
**/project.xcworkspace/xcuserdata/

Windows_and_Linux/.venv/
Windows_and_Linux/packaging/
Windows_and_Linux/dist/
Windows_and_Linux/Writing Tools.spec