# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Build and Derived Data
build/
DerivedData/

# Xcode files
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcarchive
*.log

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm
Package.resolved
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Secrets
*.keychain
*.mobileprovision

# Temporary files
*.swp
*.lock